.md-sidemenu-content11{

    color: black;
    font-size: 30px;
    margin-bottom: 20px;



}
.md-button:hover, .md-button:focus,.docs-menu:focus,.md-menu:hover{
    background: #e8edf3 !important;
}
md-icon{

}
